<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>invalidRequest</title>
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
    </style>
</head>
<body>
        <div class="container"  th:fragment="content"><h1 style="color: #0fa3ba"
         align="center">По запросу</h1><h1 style="color: red"
         align="center" th:text="${searchRequest}"></h1> <h1 style="color: #0fa3ba"
         align="center">ничего не найдено! </h1>
         <h1 style="color: #0fa3ba"
         align="center">Можете повторить поиск </h1>
         
         <form class="d-flex align-item-center m-10" th:action="${search}">
			<input name="search" type="text" class="form-control mr-sm-0 p-0 m-0"
				id="usr" placeholder="Поиск" style="max-width: 150px;">&#8194;
			<button class="btn btn-outline-secondary m-0" type="submit">Поиск</button>
		</form>
         
         </div>
         
</body>
</html>