<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>slideMenu</title>
</head>
<body th:fragment="panel">
	<div id="mySidenav" class="sidenav position-fixed"
		style="left: -250px; width: 250px">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<!-- <li class="nav-item"><a class="nav-link" th:href="@{'/theme'}">Создать Дебаты</a></li> -->
			<li class="nav-item"><a class="nav-link" th:href="@{'/createDebate'}">Создать Дебаты</a></li>
			<li class="nav-item"><a class="nav-link" href="/createDiscussion">Создать Дискуссию</a></li>
			<li class="nav-item"><a class="nav-link" href="/followers">Подписчики</a></li>
		</ul>
	</div>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.left = "0px";
			document.getElementById("mySidenav").classList.add("new");

		}

		function closeNav() {
			document.getElementById("mySidenav").style.left = "-250px";
			document.getElementById("mySidenav").classList.remove("new");
		}
	</script>
</body>
</html>