@charset "UTF-8";
{
	display: inline-block;
	column-break-inside: avoid;
}

.container {

	background-color: #ccecff;

}

li {

	margin-top: 10px;

}

.h5 a, .h5 li {

	font-size: 15px;
	color: #000;
		
}

.h6 a, .h6 a {

	font-size: 15px;
	color:#007bff;
			
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}