<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DeBattle</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>


</head>

<body>
	<div th:insert="fragments/header :: header(~{ :: .spells})">Header</div>
	<div th:replace="${contentPage} :: content">Content</div>
	
	<script type="text/javascript">
		
		$("#commentator-message").keyup(function(event) {

    	if(event.keyCode == 13 && $(this).val() != '') {

    		var clear_block = document.createElement('div');
    		clear_block.className = 'clearfix';

    		var spectator_image = document.createElement('div');
    		spectator_image.className = 'spectator-image';

    		var link = document.createElement('a');
    		link.href = '#';

    		var user_picture = document.createElement('img');
    		user_picture.src = '/resources/images/users/10.jpg';
    		user_picture.classList.add('img-thumbnail');
    		user_picture.classList.add('commentator');
    		user_picture.alt = 'Spectator';

    		link.appendChild(user_picture);
    		spectator_image.appendChild(link);

    		var message = document.createElement('div');
    		message.classList.add('message');
    		message.classList.add('of-spectators');
    		message.classList.add('of-mine-as-commentator');
    		message.classList.add('rounded');

    		var nickname = document.createElement('p');
    		nickname.classList.add('commentator-name');
    		nickname.classList.add('h6');
    		nickname.innerHTML = 'Я';

    		var argument = document.createElement('p');
    		argument.classList.add('argument');
    		argument.classList.add('h6');
    		argument.innerHTML = $(this).val();

    		var create_date = document.createElement('p');
    		create_date.className = 'create-date';
    		create_date.innerHTML = '13.09';

    		message.appendChild(nickname);
    		message.appendChild(argument);
    		message.appendChild(create_date);
    		clear_block.appendChild(spectator_image);
    		clear_block.appendChild(message);

    		$(".for-commentators").append(clear_block);

    		$('.for-commentators').scrollTop(100000);

        $(this).val('');

    	}

		});
		
		$("#member-message").keyup(function(event) {

	    	if(event.keyCode == 13 && $(this).val() != '') {

	    		var clear_block = document.createElement('div');
	    		clear_block.className = 'clearfix';

	    		var message = document.createElement('div');
	    		message.classList.add('message');
	    		message.classList.add('of-debaters');
	    		message.classList.add('of-mine-as-member');
	    		message.classList.add('rounded');

	    		var argument = document.createElement('p');
	    		argument.classList.add('argument');
	    		argument.classList.add('h6');
	    		argument.innerHTML = $(this).val();

	    		var create_date = document.createElement('p');
	    		create_date.className = 'create-date';
	    		create_date.innerHTML = '13.09';

	    		message.appendChild(argument);
	    		message.appendChild(create_date);
	    		clear_block.appendChild(message);

	    		$(".for-members").append(clear_block);

	    		$('.for-members').scrollTop(100000);

	        $(this).val('');

	    	}

			});
		
		$('#surrender').tooltip({

	    	title : 'Завершить беседу и признать своё поражение',
	    	delay: { show: 750, hide: 750},

			});
		
		$("#confirm-surrender").click(function(event) {

			var clear_block = document.createElement('div');
		clear_block.className = 'clearfix';

		var message = document.createElement('div');
		message.classList.add('message');
		message.classList.add('of-debaters');
		message.classList.add('-final');
		message.classList.add('rounded');

		var winner_report = document.createElement('p');
		winner_report.classList.add('report');
		winner_report.classList.add('h5');
		winner_report.innerHTML = 'Петя признаёт поражение. 23 зрителя отдали ему свой голос.';

		var loser_report = document.createElement('p');
		loser_report.classList.add('report');
		loser_report.classList.add('h5');
		loser_report.innerHTML = 'Вася побеждает в дебатах. 45 зрителей отдали ему свой голос.';

		var create_date = document.createElement('p');
		create_date.className = 'create-date';
		create_date.innerHTML = '13.10';

		message.appendChild(winner_report);
		message.appendChild(loser_report);
		message.appendChild(create_date);
		clear_block.appendChild(message);

		$(".for-members").append(clear_block);

		$('.for-members').scrollTop(100000);

		$("#member-message").prop("disabled", true);
		$("#surrender").detach();

		var leave_lobby = document.createElement('button');

		leave_lobby.classList.add('rounded');
		leave_lobby.classList.add('h4');
		leave_lobby.classList.add('leave');

		leave_lobby.innerHTML = 'Покинуть лобби'

		$(".argument-label").append(leave_lobby);

	});
		
		$('#firstPosition').tooltip({

	    	title : 'Проголосовать за первую позицию',
	    	delay: { show: 750, hide: 750},

			});
		
		$('#secondPosition').tooltip({

	    	title : 'Проголосовать за вторую позицию',
	    	delay: { show: 750, hide: 750},

			});
		
		var isClicked = true;
		
		$('#vote-exampleModalForVotesFirstPosition').click(function() {
			if(isClicked == true){
			$('#firstPosition').html(function(i, val) {
				return val * 1 + 1
				
			});
			isClicked = false;
			document.getElementById("firstPosition").disabled = true;
			document.getElementById("secondPosition").disabled = true;
			document.getElementById("firstPosition").className = 'disFirstPosition';
			}	
		});
		
		$('#vote-exampleModalForVotesSecondPosition').click(function() {
			if(isClicked == true){
			$('#secondPosition').html(function(i, val) {
				return val * 1 + 1
			});
			isClicked = false;
			document.getElementById("secondPosition").disabled = true;
			document.getElementById("firstPosition").disabled = true; 
			document.getElementById('secondPosition').classList.add= 'disSecondPosition';
			}	
		});
		

	</script>
	
</body>
</html>