<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lobby</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body th:fragment="content">
	<div class="text-center">
		<h3>Список активных дедатов на тему</h3>
		<h3 th:text="${themes.name}"></h3>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Название</th>
				<!-- <th scope="col">Свободная сторона для участия</th> -->
				<th scope="col">Общее время</th>
				<th scope="col">Время на написание аргумента</th>
				<th scope="col">Штраф</th>
				<th scope="col">Видимость зрительского чата</th>
				<th scope="col">Цензура</th>
				<th scope="col">Количество баллов за победу</th>
				<th scope="col">Переход на лобби</th>
			</tr>
		</thead>

		<tbody>
			<tr>
			<tr th:each="lobby : ${lobbies}">
				<td th:text="${lobby.id}"></td>
				<td th:text="${lobby.name}"></td>
				<!-- <div th:eath="${side : lobby.}"
				<td th:text="${lobby.name}"></td> -->
				<td th:text="${lobby.config.generalTime}"></td>
				<td th:text="${lobby.config.timeoutTime}"></td>
				<td th:text="${lobby.config.timeoutFine}"></td>
				<td th:if="${lobby.config.isSpectatorChatVisible}">включена</td>
				<td th:if="${!lobby.config.isSpectatorChatVisible}">выключена</td>
				<td th:if="${lobby.config.isCensorship}">включена</td>
				<td th:if="${!lobby.config.isCensorship}">выключена</td>
				<td>200 in developing</td>
				<!-- <td th:text="${lobby.config.isSpectatorChatVisible}">in developing</td> -->
				<td><a class="nav-link" href="/debateLobby">Стать зрителем</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>